@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* styles.css */
:root{
    --color-default:#ff007f;
    --color-second:#ff91a4;
    --color-white:#fff;
    --color-body:#e4e9f7;
    --color-light:#e0e0e0;
    --font-default: "Poppins", sans-serif;
  }
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.famec-introduction h2 {
    padding: 0 10px;
}
.famec-intro-contents {
    padding: 10px;
    display: flex;
}
.image-container img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    border-radius: 10px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: .2s, 3s;
}


.why-famec {
    background-color: var(--color-second);
    position: relative;
    height: 65vh;
    display: flex;
}
.why-famec-logo {
    position: relative;
    top: 10px;
    left: 5px;
}
.why-famec-logo img {
    width: 4em;
    border-radius: 10px;
}
.why-famec-contents {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.why-famec-contents h2 {
    text-align: center;
    font-family: serif;
}
.why-famec-placeholders {
    position: relative;
    top: 2.5em;
}
.why-famec-placeholders img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}


/* second img */
.famec-dashboard-display {
    display: flex;
    height: fit-content;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}
.famec-dashboard-content {
    padding: 0 !important;
}
.dashboard-img{
    position: relative;
    display: flex;
    flex-direction: column;
}
.dashboard-img img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.dashboard-img .form, .dashboard-img h1 {
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dashboard-img h1 {
    text-align: center;
    padding-bottom: 4%;
}
.dashboard-img .form input {
    height: 3em;
    width: 50%;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    letter-spacing: 2px;
}
.dashboard-img .form button {
    width: 9em;
    height: 3em;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    /* cursor: pointer; */
    color: #fff;
    margin-left: 10px;
    transition: .5s;
    text-transform: uppercase;
}
.dashboard-img .form button:hover {
    background: #fff;
    color: #000;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap: 6px;
    align-content: stretch;
    background-color: #ff91a4;

}
.about-sections{
    display: flex;
    width: calc(98.98% / 3);
    border-radius: 10px;
}
.about-sections-contents {
    background-color: #fff;
    width: 100%;
    margin: 3%;
    border-radius: 10px;
    color: #000;
}
.about-sections-contents h4 {
    font-size: larger;
    padding: 0 10px;
    text-align: center;
}
.about-sections-contents p {
    font-family: serif;
    line-height: 30px;
    opacity: 0.7;
    padding: 10px;
}



.contact-container{
    display: flex;
    height: 100%;
    position: relative;
    top: 15%;
}
.contact-sections {
    width: 45%;
    height: auto;
    background-image: linear-gradient(#FF91A4, #FFD1DC, #FF007F);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-sections:nth-child(2) {
    width: 55%;
    height: fit-content;
}
.contact-page {
    width: 85%;
    height: 85%;
    margin: 50px;
}
.contact-us-title {
    display: flex;
}
.form-container {
    display: flex;
    height: 90.8%;
    width: 100%;
}
.form-container span{
    color: red;
    font-size: 20px;
}
form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .name, form .email, form .phone, form .message {
    display: flex;
    gap: 6px;
}
form .email, form .message{
    gap: 0;
}
.name .firstname, .name .lastname, 
form .email, .phone .country, 
.phone .phone-number, form .message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
}
.name .firstname input, .name .lastname input, 
.email input, .phone .country input, 
.phone .phone-number input, .message textarea{
    width: 100%;
    height: 40px;
    font-size: larger;
    padding: 10px;
    font-family: serif;
    color: #6f6f6f;
    border-radius: 5px;
}
.message textarea {
    height: 90px;
}
form .contact-btn {
    float: left;
    margin: 0;
    width: 40%;
}
.connect .icon-share{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}
.connect .icon-share i {
    font-size: 35px;
}
.connect-icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.connect-icon a:hover{
    background: #9b9b9b;
    color: #162938;
    box-shadow: 0 0 20px #000000;
}
/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media (max-width: 767px) {
    .famec-intro-contents {
        flex-direction: column; /* Stack contents vertically on mobile */
    }
    .image-container img {
        width: 100%; /* Full width for images on mobile */
    }

    .why-famec {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        padding: 5px;
        height: fit-content;
    }
    .why-famec-contents {
        width: 100%; /* Full width for content on smaller screens */
    }
    .why-famec-logo {
        text-align: center; /* Center the logo on smaller screens */
    }
    .why-famec-logo img {
        width: 4em; /* Reduce logo size on smaller screens */
    }
    .why-famec-placeholders img {
        width: 100%; /* Make images take full width on smaller screens */
    }
    .why-famec-placeholders {
        top: 0;
    }


    .famec-dashboard-content {
        width: 100%; /* Adjust width for mobile */
        padding: 10px; /* Add padding for better spacing */
        top: 55%;
    }
    .dashboard-img h1 {
        font-size: 18px;
    }
    .dashboard-img .form {
        gap: 6px;
        top: 85%;
        /* margin-top: 90%; */
    }
    .dashboard-img .form input {
        height: 2em;
        border-radius: 3px;
    }
    .dashboard-img .form button {
        width: 100%; /* Full width for the button on mobile */
        margin-left: 0; /* Remove margin for the button on mobile */
        font-size: 12px;
        margin-bottom: 0;
    }
    .about-sections {
        width: 100%; /* Make each section take up the full width on mobile */
    }

    .contact-sections:nth-child(1),
    .contact-sections:nth-child(2) {
        width: 100%; /* Both first and second children take full width */
        flex-direction: column; /* Change flex-direction to column */
    }
    .contact-container{
        flex-direction: column-reverse;
    }
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}